<div class="card">
    <img class="card-img-top img-fluid" src="../../../assets/img/batman.png">
    <div class="card-body">
        <h4 class="card-title">{{ tipoHabitacion.codigoTipo }}</h4>
        <p class="card-text"> {{ tipoHabitacion.numeroPersonas }} </p>
        <p class="card-text"> {{ tipoHabitacion.numeroCamas }} </p>
        <p class="card-text"> {{ tipoHabitacion.numeroBanos }} </p>
        <p class="card-text"> {{ tipoHabitacion.precio }} </p>
        <p class="card-text"><small class="text-muted">{{ tipoHabitacion.descripcion }}</small></p>
    </div>
</div>